<div class="webview-plan">
  <div class="webview-plan-box">
    <div class="webview-plan-box-custom-header" style="background:linear-gradient(-88deg, rgba(66, 147, 33, 1), rgba(180, 236, 81, 1))"></div>
    <div class="webview-plan-box-header">
      <h1>Você assinou o nosso <br />
        <b> Plano Gratuito </b></h1>
    </div>
    <div class="webview-plan-box-description">
      <span class="free-span">O seu Plano Gratuito tem direito a 5 anúncios aqui no clicCa.</span>
      <span class="free-span">Boas vendas!
      </span>
      <span>Plano valido até {{expiration}}</span>
    </div>
  </div>
</div>
