app-webview-plans-free-card{

    .free-span{
        font-size: 1.4rem!important;
        font-weight: bold!important;
        width: 70%!important;
        margin: 0 auto!important;
        margin-bottom:36px!important;
    }
    .webview-plan{min-height: 197px!important;}
    .webview-plan-box{height:280px!important}
}
