<ul class="dialog">
  <li class="dialog__message--received">

    <h1>Eduardo Molinari</h1>
    <img  rel=”preload” src="/assets/img/avatars/1.jpg" />
    <span> Se hoje é o dia das crianças... Ontem eu disse: o dia da criança é o dia da mãe, dos pais</span>
    <span class="time">20:30</span>
  </li>
  <li class="dialog__message--sent">
    <span>"- Mas vocês acabaram isso?" Vou te falar: -"Não, está em andamento!" Tem obras que "vai" durar pra depois de 2010.</span>
    <span class="time">20:30</span>

  </li>

</ul>
