<nav>
  <ul>
    <li>Menu</li>
    <li routerLinkActive="active" routerLink="/perfil/meus-dados">Meu perfil</li>
    <li routerLinkActive="active" routerLink="/perfil/favoritos">Favoritos</li>
    <li routerLinkActive="active" routerLink="/perfil/meus-anuncios">Meus anúncios</li>
    <!-- <li routerLinkActive="active" routerLink="/perfil/vagas">Minhas vagas </li> -->
    <li routerLinkActive="active" routerLink="/perfil/planos">Planos</li>
    <li routerLinkActive="active" routerLink="/perfil/mensagens">Minhas mensagens</li>
    <li routerLinkActive="active" routerLink="/perfil/chat">Chat</li>
    <li class="exit-li" routerLinkActive="active" (click)="logout();">Sair</li>
    <li routerLinkActive="active" routerLink="/">Voltar para o site clicCA</li>
  </ul>
</nav>
