<app-box-rounded>
  <div class="item__detail--fipe">
    <h2>Tabela Vamos+</h2>
    <h1>R$ 140.000,00 </h1>
    <p>Preço representativo da média deste veículo no Brasil.</p>
    <div class="item__detail--table">
      <h2>Tabela Vamos +</h2>
      <div>
        <label>Mínimo:</label>
        <span>R$ 160.000,00</span>
      </div>
      <div>
        <label>Médio:</label>
        <span class="text-green">R$ 160.000,00</span>
      </div>
      <div>
        <label>Máximo:</label>
        <span>R$ 160.000,00</span>
      </div>
    </div>
    <p>Valores referentes aos anúncios em todo o Brasil.</p>
    <p>Última atualização: 17/01/2018</p>
  </div>
</app-box-rounded>
