<div class="user__content--center">
  <h1>Favoritos</h1>
  <ul role="tablist" class="nav nav-tabs justify-content-start">
    <li class="nav-item">
      <a class="nav-link" routerLink="/perfil/favoritos/todos" routerLinkActive="active">Todos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/perfil/favoritos/classificados" routerLinkActive="active" >Classificados</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/perfil/favoritos/fretes" routerLinkActive="active">Fretes</a>
    </li>
  </ul>
  <router-outlet></router-outlet>
</div>
