@import "variables";
@import "mixins";
@import "media-queries";

.login {
  .checkbox{
    &.box{
      display: inline-block;
      border: 0;
      border-radius: 0;
      margin: 0;
      width: auto;
      padding-top: 3px;
      padding-left: 30px;
      flex: 1;
      input{ border: 0!important; margin-right: 0; }
      label{ font-size: 13px!important; color: #909BAF!important;
        &:before, &:after{
          left: 0;
          transition: inherit;
        }
      }
    }
  }
  @at-root #{&}__text {
    color: #fff;
    width: 537px;
    height: 14%;
    font-family: $font;
    top: 60px;
    left: 42px;
    h1 {
      font-size: 4.5rem;
      font-weight: $weight-light;
      line-height: 2rem;
    }
    p {
      font-size: 20px;
      font-weight: $weight-light;
      line-height: 2.5rem;
      color: #909BAF;
    }
  }
  &-subtitle{
    font-size: 20px;
    font-weight: $weight-light;
    line-height: 2.5rem;
    color: #909BAF;
  }
  @at-root #{&}__shadow {
    width: 100%;
    bottom: 0px;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.54) 35%, rgba(0, 0, 0, 0.65) 42%, rgba(0, 0, 0, 0.65) 44%);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.54) 35%, rgba(0, 0, 0, 0.65) 42%, rgba(0, 0, 0, 0.65) 44%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.54) 35%, rgba(0, 0, 0, 0.65) 42%, rgba(0, 0, 0, 0.65) 44%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000', GradientType=0);
    padding-bottom: 170px;
  }
  @at-root #{&}__notification {
    line-height: 1rem;
    font-size: 1.2rem;
  }
  @at-root #{&}__box {
    @include size(97%, 566px);
    max-width: 478px;
    padding: 25% 8% 0 18%;
    animation: fade .2s linear;
    h1 {
      color: $light-blue;
      font-weight: $weight-light;
      font-size: 2.4rem;
    }
    @at-root #{&}--text {
      color: $light-grey;
      font-weight: $weight-light;
      font-size: 1.4rem;
      padding: 10px 0 10px;
      padding-top: 15px!important;
      display: flex;
      align-items: center;
      @at-root #{&}spaced {
        padding: 25px 0 25px;
      }
      a {
        flex: 1;
        color: #485166;
        text-decoration: none;
        font-size: 13px;
        text-align: right;
        font-weight: 500;
      }
    }
    label {
      color: $label-color;
      font-size: 1.6rem;
      font-weight: $weight-light;
      padding-top: 1rem;
      padding-bottom: 0.5rem;
      display: block;
    }
  }
  @at-root #{&}__fields {
    .form-group {
      margin: 0;
      height: auto;
      padding-bottom: 17px;
      i{ background: none; }
    }
    @at-root #{&}--user {
      position: relative;
      &-icon {
        display: block;
        border-right: 1px solid $border-input;
        position: absolute;
        left: 0px;
        top: 0px;
        @include size(58px, 100%);
        * {
          display: block;
          width: 19px;
          margin: 0 auto;
          margin-top: 14px;
        }
        #icon-in {
          color: $border-color;
          fill: currentColor;
        }
      }
    }
  }
  .show-password {
    top: 5px!important;
    right: 50px!important;
    i {
      cursor: pointer;
    }
  }
}

@media (max-width:1023px)  {
  .logo-login{
    text-align: center;
    margin-bottom: 0;
    img {
      width:170px;
    }
  }
}

@include tablet1024{
  .bg--login{display:none;}
  main#login {
    margin-bottom: 120px;
    margin-top: 9px;
  }
  .login .col-xl-4 {
    width: 100%!important;
    max-width: 100%!important;
    flex: 0 0 100%!important;
  }
  .login__box {
    width: 90%;
    height: auto;
    max-width: 478px;
    padding: 2% 0;
    margin: 0 auto;
    &--text {
      font-size: 1.3rem;
      a {
        font-size: 1.2rem;
      }
    }
    h1, h1 ~ p,.login__box--textspaced{
      text-align: center;
    }
    button{
      margin: 0 auto;
      width: 100%;
      display: inherit;
    }
  }

  // .login__box {
  //   width: 97%;
  //   height: auto;
  //   max-width: 678px;
  //   padding: 10% 8% 10% 10%;
  //   margin: 0 auto;
  //   h1, h1 ~ p,.login--box-text__spaced{
  //     text-align: center;
  //   }
  //   button{
  //     margin: 0 auto;
  //     display: inherit;
  //   }
  // }
  .logo--login{
    text-align: center;
    margin-bottom: 0;
    img {
      width:170px;
    }
  }
}

@include mobile{
  .user__menu {
    width: 100%;
    li { width: 100%; }
  }
  .bg--login {
    display: none!important;
  }
  main#login {
    margin-bottom: 120px;
    margin-top: 9px;
  }
  .login__box {
    width: 90%;
    height: auto;
    max-width: 478px;
    padding: 2% 0;
    margin: 0 auto;
    &--text {
      font-size: 1.3rem;
      a {
        font-size: 1.2rem;
      }
    }
    h1, h1 ~ p,.login__box--textspaced{
      text-align: center;
    }
    button{
      margin: 0 auto;
      width: 100%;
      display: inherit;
    }
  }
  .logo--login{
    text-align: center;
    margin-bottom: 0;
    img {
      width:170px;
    }
  }
  .login-subtitle {
    font-size: 1.8rem;
  }
}
