<section class="add-vehicle">
  <img  rel=”preload” src="/assets/img/banner-fipe.jpg" class="full" />
  <app-box-content title="Anunciar" description="Aqui você vende seu veículo muito mais rápido!">
    <ol class="breadcrumb">
      <li>
        <a routerLink="/classificados">Classificados </a>
      </li>
      <li>
        <a routerLink="/classificados/anuncio"> Anunciar </a>
      </li>
    </ol>
    <div class="align-center">
      <img  rel=”preload” src="/assets/img/no-announce.jpg" />
      <p>Você ainda não anunciou nenhum veículo</p>
      <span>Aqui você pode vender seu veículo muito mais rápido</span>
      <a routerLink="tipo-veiculo" class="btn btn-full btn-blue btn-lg">Anuncie seu veículo</a>
    </div>
  </app-box-content>
</section>
