.add-vehicle{

  .align-center{
    flex-wrap: wrap;
    *{
      display:block;
    }
    p{
      font-size: 2.5rem;
      color: #485166;
      letter-spacing: -0.51px;
      text-align: center;
      width:100%;
      margin-bottom:10px;
    }
    span{
      width:100%;
      font-size: 1.4rem;
      color: #C6CCD6;
      letter-spacing: -0.37px;
      text-align: center;
    }
    button{
      margin-top:30px;
    }
  }

  h4 {
    font-weight: 300;
    font-size: 1.6rem;
    color: #909BAF;
    letter-spacing: 0;
  }

  .btn {
    margin-top: 40px;
  }
}

@media (max-width:1023px) {
  .add-vehicle {
    .box__content {
      padding: 20px;
      margin-bottom: 60px;
      .breadcrumb {
        display: none;
      }
      h1 {
        margin: 0;
      }
      h2 {
        margin-bottom: 20px;
        font-size: 2rem;
      }
      .btn {
        margin-top: 0;
      }
    }
  }
}
