<div [formGroup]="advertiseForm">
  <div class="flex">
    <div class="col-md-6" formGroupName="offer">
      <div class="checkbox box checkbox-trade">
        <input type="checkbox" value="true" name="trade" id="trade" formControlName="trade" autocomplete="off">
        <label for="trade">
          Negociação
          <span>Aceito trocas</span>
        </label>
      </div>
    </div>

    <div class="col-md-6" formGroupName="implement" [ngClass]="{ 'error' : validateForm.isFieldValid(advertiseForm, 'implement.condition') }">
      <div class="form-group">
        <label for="condition"> Condição do Implemento </label>
        <select name="condition" id="condition" formControlName="condition">
          <option value="">Selecione</option>
          <option *ngFor="let condition of condition" [value]="condition.id">
            {{ condition.name }}
          </option>
        </select>
        <i></i>
        <div *ngIf="validateForm.isFieldValid(advertiseForm, 'implement.condition')">
          <p class="help has-text-danger">{{ message.createVehicle }}</p>
        </div>
      </div>
    </div>

    <div class="col-md-6" formGroupName="implement" [ngClass]="{ 'error' : validateForm.isFieldValid(advertiseForm, 'implement.year') }">
      <div class="form-group">
        <label for="year"> Ano* </label>
        <input type="tel" name="year" id="year" formControlName="year" autocomplete="off" [textMask]="yearMask">
        <div *ngIf="validateForm.isFieldValid(advertiseForm, 'implement.year')">
          <p class="help has-text-danger">{{ message.createVehicle }}</p>
        </div>
      </div>
    </div>

    <div class="col-md-6" formGroupName="implement" [ngClass]="{ 'error' : validateForm.isFieldValid(advertiseForm, 'implement.average_production') }">
      <div class="form-group">
        <label class="average_production"> Produção média* (180 ton/h) </label>
        <input type="tel" name="average_production" id="average_production" formControlName="average_production" autocomplete="off" currencyMask [options]="options">
        <div *ngIf="validateForm.isFieldValid(advertiseForm, 'implement.average_production')">
          <p class="help has-text-danger">{{ message.createVehicle }}</p>
        </div>
      </div>
    </div>

    <div class="col-md-6" formGroupName="implement" [ngClass]="{ 'error' : validateForm.isFieldValid(advertiseForm, 'implement.tdp') }">
      <div class="form-group">
        <label class="tdp"> Potência na tomada de força TDP (95 cv) </label>
        <input type="tel" name="tdp" id="tdp" formControlName="tdp" autocomplete="off" currencyMask [options]="options">
        <div *ngIf="validateForm.isFieldValid(advertiseForm, 'implement.tdp')">
          <p class="help has-text-danger">{{ message.createVehicle }}</p>
        </div>
      </div>
    </div>

    <div class="col-md-6" formGroupName="implement" [ngClass]="{ 'error' : validateForm.isFieldValid(advertiseForm, 'implement.rotation') }">
      <div class="form-group">
        <label class="rotation"> Rotação* (540 rpm)</label>
        <input type="tel" name="rotation" id="rotation" formControlName="rotation" autocomplete="off" currencyMask [options]="options">
        <div *ngIf="validateForm.isFieldValid(advertiseForm, 'implement.rotation')">
          <p class="help has-text-danger">{{ message.createVehicle }}</p>
        </div>
      </div>
    </div>

    <div class="col-md-6" formGroupName="implement" [ngClass]="{ 'error' : validateForm.isFieldValid(advertiseForm, 'implement.thread_width') }">
      <div class="form-group">
        <label class="thread_width"> Largura da rosca* (290 cm) </label>
        <input type="tel" name="thread_width" id="thread_width" formControlName="thread_width" autocomplete="off" currencyMask [options]="options">
        <div *ngIf="validateForm.isFieldValid(advertiseForm, 'implement.thread_width')">
          <p class="help has-text-danger">{{ message.createVehicle }}</p>
        </div>
      </div>
    </div>

    <div class="col-md-6" formGroupName="implement" [ngClass]="{ 'error' : validateForm.isFieldValid(advertiseForm, 'implement.bag') }">
      <div class="form-group">
        <label class="bag"> Bolsa* (9 pés) </label>
        <input type="tel" name="bag" id="bag" formControlName="bag" autocomplete="off" currencyMask [options]="options">
        <div *ngIf="validateForm.isFieldValid(advertiseForm, 'implement.bag')">
          <p class="help has-text-danger">{{ message.createVehicle }}</p>
        </div>
      </div>
    </div>

    <div class="col-md-6" formGroupName="implement" [ngClass]="{ 'error' : validateForm.isFieldValid(advertiseForm, 'implement.discharge_height') }">
      <div class="form-group">
        <label class="discharge_height"> Altura de descarga* (430 cm) </label>
        <input type="tel" name="discharge_height" id="discharge_height" formControlName="discharge_height" autocomplete="off" currencyMask [options]="options">
        <div *ngIf="validateForm.isFieldValid(advertiseForm, 'implement.discharge_height')">
          <p class="help has-text-danger">{{ message.createVehicle }}</p>
        </div>
      </div>
    </div>

    <div class="col-md-6" formGroupName="implement" [ngClass]="{ 'error' : validateForm.isFieldValid(advertiseForm, 'implement.working_length') }">
      <div class="form-group">
        <label class="working_length"> Comprimento de trabalho* (550 cm) </label>
        <input type="tel" name="working_length" id="working_length" formControlName="working_length" autocomplete="off" currencyMask [options]="options">
        <div *ngIf="validateForm.isFieldValid(advertiseForm, 'implement.working_length')">
          <p class="help has-text-danger">{{ message.createVehicle }}</p>
        </div>
      </div>
    </div>

    <div class="col-md-6" formGroupName="implement" [ngClass]="{ 'error' : validateForm.isFieldValid(advertiseForm, 'implement.working_height') }">
      <div class="form-group">
        <label class="working_height"> Altura de trabalho* (430 cm) </label>
        <input type="tel" name="working_height" id="working_height" formControlName="working_height" autocomplete="off" currencyMask [options]="options">
        <div *ngIf="validateForm.isFieldValid(advertiseForm, 'implement.working_height')">
          <p class="help has-text-danger">{{ message.createVehicle }}</p>
        </div>
      </div>
    </div>

    <div class="col-md-6" formGroupName="implement" [ngClass]="{ 'error' : validateForm.isFieldValid(advertiseForm, 'implement.working_height') }">
      <div class="form-group">
        <label class="working_width"> Largura de trabalho* (430 cm) </label>
        <input type="tel" name="working_width" id="working_width" formControlName="working_width" autocomplete="off" currencyMask [options]="options">
        <div *ngIf="validateForm.isFieldValid(advertiseForm, 'implement.working_height')">
          <p class="help has-text-danger">{{ message.createVehicle }}</p>
        </div>
      </div>
    </div>

    <div class="col-md-6" formGroupName="implement" [ngClass]="{ 'error' : validateForm.isFieldValid(advertiseForm, 'implement.transport_length') }">
      <div class="form-group">
        <label class="transport_length"> Comprimento de transporte* (750 cm) </label>
        <input type="tel" name="transport_length" id="transport_length" formControlName="transport_length" autocomplete="off" currencyMask [options]="options">
        <div *ngIf="validateForm.isFieldValid(advertiseForm, 'implement.transport_length')">
          <p class="help has-text-danger">{{ message.createVehicle }}</p>
        </div>
      </div>
    </div>

    <div class="col-md-6" formGroupName="implement" [ngClass]="{ 'error' : validateForm.isFieldValid(advertiseForm, 'implement.transport_height') }">
      <div class="form-group">
        <label class="transport_height"> Altura de transporte* (430 cm) </label>
        <input type="tel" name="transport_height" id="transport_height" formControlName="transport_height" autocomplete="off" currencyMask [options]="options">
        <div *ngIf="validateForm.isFieldValid(advertiseForm, 'implement.transport_height')">
          <p class="help has-text-danger">{{ message.createVehicle }}</p>
        </div>
      </div>
    </div>

    <div class="col-md-6" formGroupName="implement" [ngClass]="{ 'error' : validateForm.isFieldValid(advertiseForm, 'implement.transport_width') }">
      <div class="form-group">
        <label class="transport_width"> Largura de transporte* (730 cm) </label>
        <input type="tel" name="transport_width" id="transport_width" formControlName="transport_width" autocomplete="off" currencyMask [options]="options">
        <div *ngIf="validateForm.isFieldValid(advertiseForm, 'implement.transport_width')">
          <p class="help has-text-danger">{{ message.createVehicle }}</p>
        </div>
      </div>
    </div>

    <div class="col-md-6" formGroupName="implement" [ngClass]="{ 'error' : validateForm.isFieldValid(advertiseForm, 'implement.wheel') }">
      <div class="form-group">
        <label class="wheel"> Nº de rodas </label>
        <input type="tel" name="wheel" id="wheel" formControlName="wheel" autocomplete="off" currencyMask [options]="options">
        <div *ngIf="validateForm.isFieldValid(advertiseForm, 'implement.wheel')">
          <p class="help has-text-danger">{{ message.createVehicle }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12" formGroupName="offer">
    <div class="form-group textarea">
      <label class="axes"> Observação </label>
      <textarea name="description" id="description" formControlName="description" cols="30" rows="10"></textarea>
    </div>
  </div>
</div>
