<img  rel=”preload” src="/assets/img/banner-recharge.jpg" class="full" />

<app-box-content title="Cartão">
  <ol class="breadcrumb">
    <li>
      <a routerLink="/cartao">Cartão Acesso Saúde </a>
    </li>
    <li>
      <span>Mensalidade </span>
    </li>
  </ol>

  <!-- <div class="card__main card__recharge-main">
    <img  rel=”preload” src="/assets/img/clock.png" width="100" height="100" />

    <h1>Aguardando o pagamento
    </h1>
    <h3>Faça o pagamento da sua primeira mensalidade para ter acesso ao uso do Cartão.</h3>

    <div class="">
      <button class="small btn blue" routerLink="/cartao/mensalidade">Pagar mensalidade</button>
      <button class="small btn transparent" routerLink="/cartao/beneficios">Ver beneficios</button>
    </div>

    <div class="align-center pay-after">

      <a href="#" class="fs-16 c-grey">Cancelar pedido do cartão</a>

    </div> -->
<!--

  </div> -->

  <div class="card__main card__recharge-main">
      <img  rel=”preload” src="/assets/img/clock.png" width="100" height="100" />

      <h1>Aguardando o pagamento
      </h1>
      <h3>Faça o pagamento da sua primeira mensalidade para ter acesso ao uso do Cartão.</h3>

      <div class="buttons__group mt-108">
        <button class="btn btn-full btn-blue btn-sm" routerLink="/cartao/pagar">Pagar mensalidade</button>
        <button class="btn btn-stroke btn-blue btn-sm">Ver beneficios</button>
      </div>
    </div>


    <!-- <div class="card__main">
        <img  rel=”preload” src="/assets/img/card-recharge.jpg" />

        <h2>Recarga em andamento</h2>
        <h3>Aguarde a confirmação do pagamento para XXXXX</h3>

        <span class="text-green fs-18">R$0.000,00</span>
        <br/>
        <br/>
        <button class="small btn blue">OK</button>
      </div> -->


</app-box-content>
