<section id="forgot-password">
  <div class="box--shadow">
    <h1>Recuperar senha</h1>
    <p>Preencha o campo abaixo para recuperar sua senha.</p>
    <br>
    <div class="row register__select" *ngIf="showBox === 1">
      <div class="col-md-5 col-lg-3">
        <div class="radio box">
          <input type="radio" name="registerButton" id="pf" value="pf" [checked]="!typeLogin" (change)="typeLogin = false; showInput($event);">
          <label for="pf">Pessoa Física</label>
        </div>
      </div>
      <div class="col-md-5 col-lg-3">
        <div class="radio box">
          <input type="radio" name="registerButton" id="pj" value="pj" [checked]="typeLogin" (change)="typeLogin = true; showInput($event);">
          <label for="pj">Pessoa Jurídica</label>
        </div>
      </div>
    </div>

    <!-- Gerando o codigo -->
    <div class="forgot__step1" *ngIf="showBox === 1">
      <form class="form_forgot row" [formGroup]="recoverForm" novalidate autocomplete="off">
        <div formGroupName="user" class="col-md-6" *ngIf="!typeLogin">
          <div class="form-group" [ngClass]="{ 'error' : recoverForm.controls.user.controls.login.touched && !recoverForm.controls.user.controls.login.valid }">
            <label>CPF</label>
            <input type="text" formControlName="login" [textMask]="inputMask.cpfMask" autocomplete="new-password">
            <div *ngIf="recoverForm.controls.user.controls.login.touched &&  !recoverForm.controls.user.controls.login.valid ">
              <p class="help has-text-danger">CPF inválido.</p>
            </div>
          </div>
        </div>

        <div formGroupName="user" class="col-md-6" *ngIf="typeLogin">
          <div class="form-group" [ngClass]="{ 'error' : recoverForm.controls.user.controls.login.touched && !recoverForm.controls.user.controls.login.valid }">
            <label>E-mail</label>
            <input type="text" formControlName="login" autocomplete="new-password">
            <div *ngIf="recoverForm.controls.user.controls.login.touched && !recoverForm.controls.user.controls.login.valid">
              <p class="help has-text-danger">{{ messageError.email }}</p>
            </div>
          </div>
        </div>

        <div class="flex register__buttons">
          <div class="col-md-6 col-sm-12 col-lg-5">
            <a routerLink="/account/login" class="btn btn-stroke btn-gray btn-lg">Voltar</a>
          </div>
          <div class="col-md-6 col-sm-12 col-lg-5">
            <button type="submit" class="btn btn-full btn-blue btn-lg" [disabled]='!recoverForm.valid' (click)="submitForm()">Próximo</button>
          </div>
        </div>
      </form>
    </div>

    <!-- enviando código -->
    <div class="forgot__step2" *ngIf="showBox === 2">
      <div class="row register__mobile-sms">
        <div class="col-md-2">
          <img  rel=”preload” src="./assets/img/mobile.svg" *ngIf="!isPJ()">
          <img  rel=”preload” src="./assets/img/letter.svg" *ngIf="isPJ()">
        </div>
        <div class="col-md-7">
          <div class="mobile__code">
            <p class="mobile" *ngIf="!isPJ()">Foi enviado um código para o seu celular.</p>
            <p class="e-mail" *ngIf="isPJ()">Foi enviado um código para o seu e-mail.</p>
          </div>
        </div>
        <div class="col-md-3">
          <a (click)="submitForm()">Reenviar o código</a>
        </div>
      </div>
      <form class="form_forgot row" [formGroup]="codeForm" novalidate autocomplete="off">
        <div class="col-md-6" formGroupName="user">
          <div class="form-group" [ngClass]="{ 'error' : codeForm.controls.user.controls.recover_code.touched && !codeForm.controls.user.controls.recover_code.valid }">
            <label *ngIf="!isPJ()">Código enviado via SMS</label>
            <label *ngIf="isPJ()">Preencha o campo abaixo com o código recebido por email </label>
            <input type="tel" formControlName="recover_code" [textMask]="inputMask.codeMask" placeholder="Código" autocomplete="new-password">
            <div *ngIf="codeForm.controls.user.controls.recover_code.touched && !codeForm.controls.user.controls.recover_code.valid">
              <p class="help has-text-danger">{{ messageError.codeValidation }}</p>
            </div>
          </div>
        </div>

        <div class="flex register__buttons">
          <div class="col-md-6 col-sm-12 col-lg-5">
            <a (click)="goStep(1)" class="btn btn-stroke btn-gray btn-lg">Voltar</a>
          </div>
          <div class="col-md-6 col-sm-12 col-lg-5">
            <button type="submit" class="btn btn-full btn-blue btn-lg" [disabled]='!codeForm.valid' (click)="submitCodeForm()">Próximo</button>
          </div>
        </div>
      </form>
    </div>

    <!-- alterando a senha   -->
    <div class="forgot__step4" *ngIf="showBox === 3">
      <form class="form_forgot row" [formGroup]="passwordForm" novalidate autocomplete="off">
        <div class="col-md-4" >
          <div formGroupName="user">
          <div class="form-group" [ngClass]="{ 'error' : isFieldValid('user', 'password') }">
            <label>Senha</label>
            <input type="password" formControlName="password" id="PasFirst"  (keyup)="checkPasswordPattern($event)"  placeholder="Senha" autocomplete="new-password">
            <div class="show-password pos__absolute">
            <i (click)="showPassword('PasFirst')">
                <icon-eye></icon-eye>
              </i>
            </div>
        </div>
        </div>
      </div>
        <div class="col-md-4" >
            <div formGroupName="user">
            <div class="form-group" [ngClass]="{ 'error' : isFieldValid('user', 'confirmPassword') }">
              <label>Repetir Senha</label>
              <input type="password" formControlName="confirmPassword"  (keyup)="MatchPassword()"  id="PasSec" placeholder="Senha" autocomplete="new-password">
              <div class="show-password pos__absolute">
              <i (click)="showPassword('PasSec')">
                  <icon-eye></icon-eye>
                </i>
              </div>
            </div>
          </div>
          </div>
          <div class="col-md-4 forgot-validation">
            <span>Sua senha precisa conter:</span>
            <ul>
                <li  class={{pasLim}}>
                    Minimo 6 caracteres
                </li>

                <li class="{{pasUpp}}">
                    Letra Maíuscula

                </li>
                <li class="{{pasLow}}">
                    Minúscula
                </li>

                <li class="{{pasNum}}">
                    Número
                </li>
                <li class="{{pasChar}}">
                    Caractere Especial
                </li>
                <li  class={{pasEqu}}>
                    Senhas Iguais
                </li>
            </ul>


            </div>

       

        <div class="flex register__buttons">
          <div class="col-md-6 col-sm-12 col-lg-5">
            <a (click)="goStep(2)" class="btn btn-stroke btn-gray btn-lg">Voltar</a>
          </div>
          <div class="col-md-6 col-sm-12 col-lg-5">
            <button type="submit" class="btn btn-full btn-blue btn-lg" [disabled]='!passwordForm.valid' (click)="submitPasswordForm()">Salvar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
