@import "variables";
@import "media-queries";



app-forgot-password{

      .show-password {
          top: 45px;
          right: 14px;
          cursor:pointer; 
          i{
          position: inherit;
          top: 0;
          right: 0;
          background: no-repeat;
        }
       
    }
    .forgot-validation {
      ul{

        padding-left:0px;
      }
      
      span {
      margin-top: 11px;
      display: block;
      font-size: 1.2rem;
  }
}
}


.register {
    .errors {
height: 60px;
    display: flex;
    flex-wrap: wrap;
  }
  ul.help.has-text-danger {
    left: -40px;
    top: 14px;
}
.has-text-danger {
      position: relative;
    bottom: -1px;
    font-size: 10px;
    margin: 0;
    color: red !important;
    width: 300px;
}


  &__mobile {
    &-sms {
      background-image: linear-gradient(95deg, #fbfdff, #f5faff);
      border-radius: 8px;
      padding: 15px;
      font-size: 1.6rem;
      margin-bottom: 20px;
      p {
        color: #485166;

      }
      a{
        color: #000;
        padding-top: 30px;
        display: block;
        font-size: 1.3rem;
        font-weight: 300;
        &:hover{
          text-decoration: none;
        }
      }
      p.mobile{ max-width: 220px;}
      p.e-mail{ max-width: 320px;}
      img{
        position: relative;
        top: 12px;}
    }
  }
  &__select{
    margin-bottom: 30px;
  }
}

@media (max-width:767px) {
  .register {
    &__mobile {
      &-sms {
        padding: 0;
        p {
          margin: 0 0 5px;
          font-size: 1.4rem;
        }
        a{
          padding-top: 0;
        }
        p.mobile{ max-width: 220px;}
        p.e-mail{ max-width: 320px;}
      }
    }
    &__select{
      margin-bottom: 15px;
    }
  }
}



.forgot-validation{
  li{
    border-radius: 11px;
    border: solid 1px #a1aabb;
    padding: 6px;
    width: auto;
    display: inline-block;
    margin-top: 10px;
    color:#a1aabb;
    &.green{
      border: solid 1px #42c021;
      color: #42c021;


    }
    &.red{
      border: solid 1px red;
      color:red;

    }
  }

}  