<div class="home__block" *ngIf="offers.length > 0">
  <div class="row">
    <div class="col-md-8 home__block--title">
      <h1>{{blockTitle}}</h1>
    </div>
    <div class="col-md-4  no__padding no__margin text-right flex-right">
      <a routerLink="/classificados" class="fl-right btn btn-stroke btn-gray btn-xs">Ver Mais</a>
    </div>
  </div>
  <div class=" row__tablet" id="home-lista-classificado">
    <div class="row">
      <div class="home__boxfreight" *ngFor="let offer of offers">
        <a routerLink="/classificados/detalhes/{{ offer.id }}">
          <img  rel=”preload” src="{{ offer.images[0].thumb_url }}" *ngIf="offer.images.length > 0 && offer.images[0].thumb_url" />
          <img  rel=”preload” src="/assets/img/placeholders/truck.jpg" *ngIf="offer.images.length == 0 || !offer.images[0].thumb_url" />
        </a>
        <div class="home__boxfreight--bottom">
          <ul class="no__padding no__margin flex flex_wrap">
            <li class="col-md-12 home__boxfreight--title">
              <span>{{ offer.title }}</span>
            </li>
            <li class="col-md-4 col-4  card-vehicle-item-first">
              <span>Ano:</span>
              <span>{{ offer.isVehicular() || offer.isBoth() ? offer.vehicle?.year : offer.implement?.year }}</span>
            </li>
            <li class="col-md-4 col-4 card-vehicle-item-sec" *ngIf="offer.isVehicular() || offer.isBoth()">
              <span>Km:</span>
              <span>{{ offer.vehicle?.mileage | number }} {{ offer.vehicle?.usage_hours | number }}</span>
            </li>
            <li class="col-md-4 col-4 card-vehicle-item-sec" *ngIf="offer.isImplemental()">
              <span>h:</span>
              <span>{{ offer.implement?.usage_hours | number }}</span>
            </li>
            <li  class="col-md-4 col-4 card-vehicle-item-third" *ngIf="offer.isImplemental()">
              <span>Local:</span>
              <span>{{ offer.implement?.city && offer.implement?.state ? offer.implement?.city + '/' + offer.implement?.state : 'Não informado' }}</span>
            </li>
            <li  class="col-md-4 col-4 card-vehicle-item-third" *ngIf="offer.isVehicular() || offer.isBoth()">
              <span>Local:</span>
              <span>{{ offer.vehicle?.city && offer.vehicle?.state ? offer.vehicle?.city + '/' + offer.vehicle?.state : 'Não informado' }}</span>
            </li>
            <li class="col-md-12 col-12 home__boxfreight--last">
              <span>Valor:</span>
              <span class="text-green">R$ {{ offer.value | number: '1.2-2' }}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
