

<section class="clicca_about">
  <img  rel=”preload” src="/assets/img/banner-about.jpg" class="full" />
  <app-box-content title="Sobre Nós">
<div class="clicca_about--main">

  <p class="description">
    Movidos à diesel e a muita tecnologia, a clicCA veio para revolucionar e estreitar o
    relacionamento com os profissionais de transporte, em especial com os
    caminhoneiros. Levamos ao caminhoneiro mais conectividade, além de uma rede de produtos,
    benefícios e serviços conectando sua vida profissional e pessoal. Aqui nosso objetivo é
    oferecer em um único lugar o maior ecossistema digital dos últimos tempos, a fim de atender
    todas as necessidades do profissional de transporte e sua família.
    <br>
    <br>
  </p>
  <div class="hr"></div>
<p class="blue"> Nascemos na era digital e a estrada sempre nos conectará. Então clicCA!
</p>
</div>
  </app-box-content>
</section>
