@import "media-queries";

user-header {
  background-image: linear-gradient(276deg, #0f4876, #20649a);
  height: 200px;
  width: 100%;
  display: block;
  .user--profile-pic {
    position: relative;
    img {
      position: absolute;
      top: 65px;
      left: 71px;
      width: 70px;
      height: 70px;
      border-radius: 100%;
    }
  }
  .circle {
    position: absolute;
    opacity: 0.1;
    border: 1px solid #FFFFFF;
    border-radius: 100%;
    &--one {
      width: 180px;
      height: 180px;
      top: 10px;
      left: 16px;
    }
    &--two {
      top: 39px;
      left: 45px;
      width: 120px;
      height: 120px;
    }
  }
  .user--profile-greeting {
    color: #fff;
    color: #fff;
    position: absolute;
    left: 238px;
    margin-top: 65px;
    p {
      font-weight: 300;
      line-height: 0rem;
      &:nth-child(1) {
        font-size: 1.6rem;
      }
      &:nth-child(2) {
        font-size: 2.6rem;
      }
    }
  }
}

@include mobile () {
  user-header {
    display: none;
    .user--profile-greeting p:nth-child(2) {
      font-size: 1.6rem;
      display: block;
      white-space: pre-wrap;
      line-height: 3rem;
      word-wrap: break-word;
      width: 80%;
    }
  }
}
