.seller-data {
  padding: 40px 20px 20px;
  // padding-left: 20px;
  // padding-right: 20px;
  // padding-bottom: 20px;
  // padding-top: 40px;
  position: relative;

  &-map {
    width: 100%;
    height: 80px;
    position: absolute;
    top: 0px;
    left: 0px;
    background: url('/assets/img/seller-map.jpg') no-repeat center;
    background-size: cover;
    // background-position: center;
    img{
      max-width:100%;
    }
  }
  &-icon{
    position: relative;
    margin-top: 8px;
    // margin-left: 23px;
    img{
      width: 60px;
      height: 60px;
      border-radius: 50%;
    }
  }
  &-title {
    h1 {
      border-bottom: 1px solid #E6E9EE;
      margin-bottom: 24px!important;
    }
  }
  &-body {
    &-icon {
      width: 20px;
      text-align: center;
    }
    .row{
      width: 100%;
      margin: 0 auto;
      margin-bottom: 18px;
      align-items: center;
      // img { float: left; }
      span {
        font-weight: 300;
        // width: 88%;
        flex: 1;
        float: left;
        margin-left: 20px;
        font-size: 1.2rem;
        color: #485166;
        position: relative;
        letter-spacing: -0.43px;
      }
    }

    // .seller__clock {
    //   .first-span{left: 13px;}
    //   // span:last-child{
    //   //   padding-left: 14px;
    //   // }
    // }
  }
}

// app-offers-item-seller {
//   .box__rounded {
//     padding-left: 20px;
//     padding-right: 20px;
//     padding-bottom: 20px;
//     padding-top: 40px;
//     position: relative;
//   }
// }
