<div class="list-vehicles">
  <ul class="list-group list-group-flush">
    <li class="list-group-item" *ngFor="let vehicle of myVehicles; let idx = index">
      <div class="d-flex item">
        <div class="p-2 icon-trick">
          <img  rel=”preload” src="assets/img/icon-vehicle.png" alt="">
        </div>
        <div class="pl-4 vehicle-info">
          <p>
            <span>{{vehicle.vehicleName}}</span>
            <small>{{vehicle.truckBody}}</small>
          </p>
        </div>
        <div class="ml-auto p-2 actions">
          <a href="#">Excluir</a>
        </div>
      </div>
    </li>
  </ul>
</div>