<div class="box__plan-card">
    <div class="box__plan-card--header" >
      <!-- plano gratis -->
        <div class="box__plan-card--header-degrade" style="background:linear-gradient(-88deg, rgba(66, 147, 33, 1), rgba(180, 236, 81, 1))"></div>
        <h1>Você assinou o nosso <br />
          <b> Plano Gratuito </b></h1>
        <!-- <h2 [ngStyle]="{'color': 'rgba(66, 147, 33, 1)'}">30 Dias Grátis</h2>
        <p>Anuncie por 30 dias, sem custo.</p> -->
   
    </div>
  
    <div class="box__plan-card--content d-flex justify-content-center align-items-center flex-column">
      <div>
        <span class="free-span">O seu Plano Gratuito tem direito a 5 anúncios aqui no clicCA.</span>
        <span  class="free-span">Boas vendas!
          </span>
        <span>Plano valido até {{expiration}}</span>
        <!-- <span *ngIf="!isFree()"> Mais Exposição </span> -->
      </div>
 
    </div>
  

  
    </div>
  