
app-plan-card-free{

    .free-span{
        font-size: 1.4rem!important;
        font-weight: bold!important;
        width: 70%!important;
        margin: 0 auto!important;
        margin-bottom: 124px!important;
    }


}
