.checkbox.box{    width: 79%!important;    margin-top: 11px!important;}

h4 {
  font-weight: 300;
  font-size: 1.6rem;
  color: #909BAF;
  letter-spacing: 0;
}

p.green {
  color: #7ED321;
  font-size: 1.2rem;
  line-height: 0.7rem;
}

button.btn{margin-top:40px!important; display:inline-block;}
