<section class="register-vehicle">
  <img  rel=”preload” src="/assets/img/banner-freights-internal.jpg" class="full" />
  <app-box-content title="Cadastrar Veículo" description="Adicione seus veículos para encontrar os melhores fretes personalizados!">
    <ol class="breadcrumb">
      <li><a routerLink="/fretes">Fretes </a></li>
      <li><a routerLink="/fretes/adicionar-veiculo"> Meus Veículos</a></li>
      <li><a routerLink="/fretes/cadastrar-veiculo"> Cadastrar Veículos</a></li>
    </ol>
    <app-add></app-add>
  </app-box-content>
</section>
