<h1>Meu Perfil</h1>
<ul role="tablist" class="nav nav-tabs justify-content-start">
  <li class="nav-item">
    <a class="nav-link" routerLink="/perfil/meus-dados" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Meus Dados</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/perfil/meus-dados/anunciante" routerLinkActive="active">Dados do Anunciante</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/perfil/meus-dados/endereco" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Endereços</a>
  </li>
</ul>
