app-password {
  .show-password {
    top: 45px;
    right: 14px;
    cursor: pointer;

    i {
      position: inherit;
      top: 0;
      right: 0;
      background: no-repeat;
    }
  }
  ul.help.has-text-danger {
    margin-top: 11px;
    margin-left: -37px;
    bottom: -43px;
  }
  .buttons__group.pass-group {
    margin-top: 74px;
  }
  ul.help li:nth-child(2):before,
  .help li:nth-child(3):before,
  .help li:nth-child(4):before {
    content: ' ⚫ ';
    display: inline;
    font-size: .4rem;
    margin-right: 6px;
  }
  .show-password {
    top: 45px;
    right: 14px;
    cursor: pointer;

    i {
      position: inherit;
      top: 0;
      right: 0;
      background: no-repeat;
    }

  }

  .forgot-validation{
    li{
      border-radius: 11px;
      border: solid 1px #a1aabb;
      padding: 6px;
      width: auto;
      display: inline-block;
      margin-top: 10px;
      color:#a1aabb;
      &.green{
        border: solid 1px #42c021;
        color: #42c021;
  
  
      }
      &.red{
        border: solid 1px red;
        color:red;
  
      }
    }

    span {
        margin-top: 11px;
        display: block;
        font-size: 1.2rem;
      }
  
      ul {
        margin-left: 0px;
        padding-left: 0px;
    }
  }  

}