<h1>Mudar Senha</h1>
<form [formGroup]="passwordForm" *ngIf="loaded" autocomplete="off">
  <fieldset>
    <div class="flex_wrap flex">
      <div class="col-md-12  no__padding">
        <div class="col-md-6  no__padding">
          <div class="form-group" formGroupName="user" [ngClass]="{ 'error' : isFieldValid('user','old_password') }">
            <label> Senha Atual</label>
            <input type="password" (keyup)="checkifThree()" formControlName="old_password" id="oldPas" placeholder="Senha Atual * (mínimo 6 caracteres)"
              autocomplete="off">
              <div class="show-password pos__absolute">
                  <i (click)="showPassword('oldPas')">
                    <icon-eye></icon-eye>
                  </i>
                </div>
                    <div *ngIf="passwordForm.get('user').get('old_password').touched && passwordForm.get('user').get('old_password').hasError('required')">
                    <p class="help has-text-danger">Preencha sua senha com no mínimo 6 caracteres.</p>
                  </div>
                  <div *ngIf="passwordForm.get('user').get('old_password').touched && passwordForm.get('user').get('old_password').hasError('Three')">
                    <p class="help has-text-danger">Senha antiga, não pode ser igual atual.</p>
                  </div>
          </div>
        </div>
      </div>
    <div class="col-md-6" formGroupName="password">
      <div class="row">
        <div class="form-group pos__relative" [ngClass]="{ 'error' : isFieldValid('password', 'password') }">
          <label> Digite sua nova senha</label>
          <input type="password" (change)="checkField()"  (keyup)="checkPasswordPattern($event)" formControlName="password" id="PasFirst" placeholder="Digite sua senha* (mínimo 6 caracteres)"
            autocomplete="off">
          <div class="show-password pos__absolute">
            <i (click)="showPassword('PasFirst')">
              <icon-eye></icon-eye>
            </i>
          </div>
          <div *ngIf="passwordForm.get('password').get('password').touched && passwordForm.get('password').get('password').hasError('minLength')">
              <p class="help has-text-danger">Preencha sua senha com no mínimo 6 caracteres.</p>
            </div>
            <div *ngIf="passwordForm.get('password').get('password').touched && passwordForm.get('password').get('password').hasError('required')">
                <p class="help has-text-danger">Campo Obrigatório.</p>
          </div>
          <div *ngIf="passwordForm.get('password').get('password').touched && passwordForm.get('password').get('password').hasError('MatchPassword')">
              <p class="help has-text-danger">Senhas não são iguais.</p>
        </div>
        </div>
      </div>
    </div>
    <div class="col-md-6" formGroupName="password">
        <div class="form-group" [ngClass]="{ 'error' : isFieldValid('password', 'confirmPassword') }">
        <label> Confirme a nova senha</label>
        <input type="password" formControlName="confirmPassword" (keyup)="MatchPassword()" id="PasSec" placeholder="Digite sua senha* (mínimo 6 caracteres)"
          autocomplete="off">
          <div class="show-password pos__absolute">
              <i (click)="showPassword('PasSec')">
                <icon-eye></icon-eye>
              </i>
            </div>
            <div *ngIf="passwordForm.get('password').get('confirmPassword').touched && passwordForm.get('password').get('confirmPassword').hasError('MatchPassword')">
                <p class="help has-text-danger">Senhas não são iguais.</p>
          </div>
          <div *ngIf="passwordForm.get('password').get('confirmPassword').touched && passwordForm.get('password').get('confirmPassword').hasError('required')">
              <p class="help has-text-danger">Campo Obrigatório.</p>
        </div>
          </div>
    </div>
    </div>

    <div class="col-md-6 forgot-validation">
      <span>Sua senha precisa conter:</span>
      <ul>
          <li  class={{pasLim}}>
              Minimo 6 caracteres
          </li>

          <li class="{{pasUpp}}">
              Letra Maíuscula

          </li>
          <li class="{{pasLow}}">
              Minúscula

          </li>

          <li class="{{pasNum}}">
              Número
          </li>


          <li class="{{pasChar}}">
              Caractere Especial
          </li>
          <li  class={{pasEqu}}>
              Senhas Iguais
          </li>
          <li  class={{pasEquOld}}>
            Senha Antiga não pode ser Igual a Atual
        </li>
      </ul>


      </div>

    <div class="buttons__group pass-group">
      <div class="row">
        <div class="col-lg-6">
          <button class="btn btn-stroke btn-gray btn-lg" type="button" routerLink="/perfil">Voltar</button>
        </div>
        <div class="col-lg-6">
          <button type="submit" [disabled]='!passwordForm.valid' class="btn btn-full btn-blue btn-lg" (click)="submit()">Salvar</button>
        </div>
      </div>
    </div>
  </fieldset>
</form>
