@keyframes fade {
    0%{ opacity: 0 }
    100% { opacity: 1 }
  }

  .animated ,app-authentication  main{
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn ,app-authentication  main{
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
  }