
//Fonts
$font:'Roboto', sans-serif;
$weight-regular: 300;
$weight-medium: 400;
$weight-light: 200;


//color
$light-grey: #909BAF;
$light-blue: #20649a;
$border-color: #C6CCD6;
$light-border:#a8cfff;
$label-color: rgba(72, 81, 102, 0.4);
$border-input: rgba(198, 204, 214, 0.23);